body {
  font-size: 16px;
  color:	#1a171b;
  background-color: #F3E7CC;
  font-family: 'Oxygen', sans-serif;
}

.navbar {
  background-color: #acaa00;
  border-radius: 0;
  border: 0;
  
}

.navbar-light .navbar-nav .nav-link {
	color: #1a171b;
}

.navbar-light .navbar-toggler{
	color: #1a171b;
	border-color: #1a171b;
}

.navbar-nav .dropdown-menu{
	background-color: #acaa00;
	border: 0;
}

#logo-img {
  background: url('../images/logo-izq_large.png') no-repeat;
  width: 171px;
  height: 50px;
  margin: 10px 15px 10px 0;
}

#catalogo{
	background-color: #F3E7CC;
}

.card{
	border: 0px;
	background-color: #F3E7CC;
	color:	#1a171b;
	margin-bottom: 5px;
}

.card-body a{
	color: #fff;
	background-color: #b11f16;
	border-color: #b11f16;
}

.card-body a:hover{
	color: #1a171b;
    background-color: #F3E7CC;
    border-color: #F3E7CC;
}

#contenedor{
	margin-top: 10px;
}

.boton-s {
	color: #fff;
	background-color: #b11f16;
	border-color: #b11f16;
}


.boton-p:hover {
	color: #1a171b;
	background-color: #F3E7CC;
	border-color: #F3E7CC;
}

.card-header{
	color: #fff;
	background-color: #636f07;
}

.card-body {
	--color: #fff;
	--background-color: #636f07;
	border-left: 2px solid;
	border-right: 2px solid;
	border-bottom: 2px solid;
	border-color: #636f07;
}


.boton-p {
	color: #fff;
	background-color: #636f07;
	border-color: #636f07;
}


.boton-s:hover {
	color: #1a171b;
	background-color: #F3E7CC;
	border-color: #F3E7CC;
}

.card-img-top{
	width: 100%;
    height: 200px;
    border: 2px solid;
	border-color: #636f07;
}



.list-group-item{
	color: #1a171b;
	background-color: #F3E7CC;
	border-color: #F3E7CC;
}